@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
:root {
  --font: "Karla", "Karla", sans-serif;
  --mainColor: #60269E;
  --mainColor2: #772FC4;
  --mainColor3: #4b1b80;
}

body {
  background-color: #161616;
  color: white;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font), "Courier New", Courier, monospace;
}
body a {
  color: var(--mainColor);
}
body h1,
body h2 {
  margin: 10px;
}

#wrapper {
  min-height: calc(100vh - 276px);
}

#navBar {
  background-color: var(--mainColor);
}
#navBar .icon {
  vertical-align: middle;
  height: 40px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#navBar .links {
  display: inline-flex;
}
#navBar .links a {
  padding: 15px;
  color: white;
  text-decoration: none;
  border-bottom: 4px solid var(--mainColor);
}
#navBar .links a:hover {
  border-bottom: 4px solid rgb(222, 218, 162);
}
#navBar .links:hover {
  background-color: var(--mainColor3);
  transition: 0.5s;
}

#carouselExampleIndicators {
  width: 100%;
  max-height: 500px;
  background-color: black;
}
#carouselExampleIndicators .carousel-indicators {
  z-index: 1 !important;
}
#carouselExampleIndicators img {
  height: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  margin: 0 auto;
}
@media only screen and (max-width: 1110px) {
  #carouselExampleIndicators img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.content {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  background-color: black;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
  margin: 0;
  margin-bottom: 10px;
}
.content:nth-of-type(even) {
  flex-direction: row-reverse;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.content:nth-of-type(even) .text {
  margin: 50px;
  margin-right: 0;
  padding: 20px;
  padding-top: 0;
}
.content img {
  min-width: 500px;
  height: 500px;
  margin: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .text {
  color: white;
  vertical-align: top;
  font-size: 18px;
  margin: 50px;
  margin-left: 0;
  padding: 20px;
  padding-top: 0;
  min-width: 500px;
}
@media only screen and (max-width: 1110px) {
  .content {
    display: block;
  }
  .content img {
    margin: 20px auto !important;
    margin-top: 0 !important;
    max-width: none !important;
    min-width: unset !important;
    width: 100%;
  }
  .content .text {
    display: block;
    margin: 0px !important;
    min-width: -webkit-fit-content !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    font-size: 14px !important;
  }
  .content:nth-of-type(even) .text {
    padding: 20px;
    padding-top: 0;
  }
}

.footer-dark {
  padding: 30px 0;
  color: white;
  background-color: var(--mainColor);
}
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}
.footer-dark ul a:hover {
  opacity: 0.8;
}
.footer-dark img {
  height: 100px;
  border-radius: 90px;
}
.footer-dark .item.text {
  margin-bottom: 36px;
}
.footer-dark .item.text a {
  color: white;
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}
.footer-dark .item.social {
  text-align: center;
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
}
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
.footer-dark .item.social .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
  color: white;
  display: none;
}
@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.button {
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  min-width: 70px;
  padding: 10px;
}
.button:hover {
  background-color: black;
}
.button:active {
  background-color: var(--mainColor);
}

#catalog .catalogItem {
  background-color: black;
  margin: 10px auto;
  max-width: 800px;
  border-radius: 5px;
}
#catalog .catalogItem *:first-child {
  margin: 10px;
}
#catalog .catalogItem h1 {
  padding-top: 10px;
}
#catalog .catalogItem hr {
  margin: 0;
}
#catalog .catalogItem img {
  height: 350px;
}
#catalog .catalogItem div {
  display: flex;
}
@media only screen and (max-width: 600px) {
  #catalog .catalogItem div {
    display: block;
  }
  #catalog .catalogItem div img {
    width: 100%;
    margin: 0 !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
#catalog .catalogItem div h5 {
  margin: 10px;
}

#modal-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  opacity: 0.8;
  z-index: 2;
  text-align: center;
  flex-direction: invert;
}
#modal-container p#tip {
  margin-top: 4vh;
  color: white;
}
#modal-container p#caption {
  margin-top: 88vh;
  color: white;
}

#modal {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  margin-top: 10vh;
}
#modal img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 80vh;
}

.invisible {
  display: none;
}/*# sourceMappingURL=styles.css.map */