@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --font: 'Karla', 'Karla', sans-serif;
}

body {
    background-color: #161616;
    margin: 0;
    color: white;
    font-size: 18;
    font-weight: bold;
    font-family: var(--font), 'Courier New', Courier, monospace;
}

#navBar {
    background-color: #01A79B;

    .icon {
        padding: 10px;
        vertical-align: middle;
        height: 50px;
        border-radius: 50px;
    }

    .links {
        padding: 10px;
        display: inline-flex;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: #161616;
            border-radius: 10px;

            a {
                transition: .5s;
            }
        }
    }
}
