@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --font: 'Karla', 'Karla', sans-serif;
    --mainColor: #60269E
}

body {
    background-color: #161616;
    margin: 0;
    color: white;
    font-size: 18;
    font-weight: bold;
    font-family: var(--font), 'Courier New', Courier, monospace;

    a {
        color: var(--mainColor);
    }

    h1,
    h2 {
        margin: 10px;
    }
}

#wrapper {
    min-height: calc(100vh - 60px);
}

#navBar {
    background-color: var(--mainColor);

    .icon {
        margin: 10px;
        vertical-align: middle;
        height: 40px;
        border-radius: 50px;
    }

    .links {
        padding: 10px;
        display: inline-flex;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: #161616;
            border-radius: 10px;

            a {
                transition: .5s;
            }
        }
    }
}

#carouselExampleIndicators {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
    background-color: black;

    img {
        height: 100%;
        max-height: 500px;
        object-fit: fill;
        display: flex;
        margin: 0 auto;
    }
}

#footer {
    background-color: var(--mainColor);
    display: inline-flexbox;
    vertical-align: middle;
    // display: none; //invisible for now

    // position: fixed;
    bottom: 0;
    width: 100%;

    #footerMain {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        max-width: 700px;

        .icon {
            height: 40px;
            margin: 10px;
            border-radius: 50px;
        }
    }
}

.button {
    text-decoration: none;
    color: white;
    margin: 10px;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    min-width: 70px;
    padding: 10px;

    &:hover {
        background-color: black;
    }

    &:active {
        background-color: var(--mainColor);
    }
}

#catalog {

    .catalogItem {
        background-color: black;
        // display: flex;
        margin: 10px auto;
        max-width: 800px;
        border-radius: 5px;

        // @media only screen and (max-width: 600px) {
        //     display: inline;
        // }

        *:first-child {
            margin: 10px;
        }

        h1 {
            padding-top: 10px;
        }

        hr {
            margin: 0;
        }

        img {
            height: 350px;
        }

        div {
            display: flex;

            @media only screen and (max-width: 600px) {
                display: block;

                img {
                    width: 100%;
                    margin: 0 !important;
                    object-fit: contain;
                }
            }

            h5 {
                margin: 6px;
            }
        }
    }
}
