@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --font: 'Karla', 'Karla', sans-serif;
}

body {
    background-color: #161616;
    margin: 0;
    color: white;
    font-size: 18;
    font-weight: bold;
    font-family: var(--font), 'Courier New', Courier, monospace;
}

#navBar {
    background-color: #01A79B;

    .icon {
        padding: 10px;
        vertical-align: middle;
        height: 50px;
        border-radius: 50px;
    }

    .links {
        padding: 10px;
        display: inline-flex;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: #161616;
            border-radius: 10px;

            a {
                transition: .5s;
            }
        }
    }
}

#footer {
    background-color: #01A79B;
    display: inline-flexbox;
    vertical-align: middle;

    // position: fixed;
    bottom: 0;
    width: 100%;

    #footerMain {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        max-width: 700px;

        .icon {
            height: 40px;
            margin: 10px;
            border-radius: 50px;
        }
    }
}

.button {
    text-decoration: none;
    color: white;
    margin: 10px;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 5px;
    min-width: 70px;
    padding: 10px;

    &:hover {
        background-color: black;
    }

    &:active {
        background-color: cadetblue;
    }
}

#catalog {

    .catalogItem {
        background-color: black;
        // display: flex;
        margin: 10px auto;
        max-width: 800px;
        border-radius: 5px;

        // @media only screen and (max-width: 600px) {
        //     display: inline;
        // }

        *:first-child {
            margin: 10px;
        }

        h1 {
            padding: 5px;
        }

        hr {
            margin-bottom: 0;
        }

        img {
            // width: 250px;
            height: 250px;
        }

        div {
            display: flex;

            @media only screen and (max-width: 600px) {
                display: block;

                img {
                    width: 100%;
                    margin: 0 !important;
                }
            }

            p {
                margin: 6px;
            }
        }
    }
}
